* {
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    width: 100%; /* Full width */
    max-width: 900px; /* Maximum width */
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    text-align: center;
    color: #333;
}

.form-group {
    margin: 15px 0;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.transaction-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

button.btn {
    padding: 10px 15px;
    background-color: #57b515;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button.btn:hover {
    background-color: #3c8309;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1em;
}

.minus {
    color: red;
}

.plus {
    color: green;
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.filter-buttons button {
    width: calc(33% - 5px);
}

.filter-buttons button.btn {
    background-color: #28a745;
}

.filter-buttons button.btn:hover {
    background-color: #218838;
}
.i_flex {
    display: flex;
    justify-content: center;
    gap: 5rem;
}
button.ed_btn {
    color: white;
    background-color: #cb4a4a;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
button.ed_btn:hover {
    color: white;
    background-color: #cb4a4a;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}